* {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #111;
}

a:link, a:visited {
  text-decoration: underline;
  color: #7d3c58;
}

a:hover {
  text-decoration: none;
  color: #7d3c58;
}

body {
  margin: 0%;
  background: #fff;
}


#header {
  width: 76%;
  font-size: 3em;
  font-family: 'Lora', serif;
  color: gold;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  margin: 1em auto 2% auto;
}

#text {
  width: 90%;
  padding-bottom: 2%;
  margin: auto;
  line-height: 1.5;
  text-align: justify;
}

#copyright {
  width: 80%;
  margin: 80px auto 50px auto;
}

#copyright p {
  font-size: 0.8em;
  line-height: 1.5;
  text-align: right;
}

.infobox {
  line-height: 1.8;
  width: 90%;
  margin: 40px auto;
}

#langs {
  background-color: #7d3c58;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  padding: 8px 0 8px 0;
  text-align: center;
  font-size: 1em;
  font-family: 'Lora', serif;
  color: white;
}

#langs a:link, #langs a:hover, #langs a:visited {
  color: white;
}

#mobileheader {
  background-color: #7d3c58;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  padding: 8px 0;
  text-align: center;
  font-size: 1em;
  font-family: 'Lora', serif;
  color: gold;
}





.interview {
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  background-attachment: fixed;
}

.interview_border {
  width: 100%;
  margin: auto;
  padding: 6% 0 6% 0;
  background: rgba(255, 255, 255, 0.8);
}

.interview_content {
  background-color: transparent;
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
  line-height: 1.5;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 3em;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.photo {
  box-shadow: 0px 0px 5px 1px #999;
  margin: 20px auto;
  border: 8px solid #fff;
  display: block;
}

img {
  max-width: 95%;
  height: auto;
}

.textcontent {
  text-align: left;
  margin: auto;
  padding-bottom: 10px;
  width: 90%;
  max-width: 600px;
}

.question {
  font-weight: bold;
  margin: 1em 0 0 0;
}

.answer {
  padding-left: 5%;
  margin: 0;
}


/* BACKGROUNDS */
#persbackground {
  background-image: no-image;
}

/*inforuutu*/
#persbackground1 {
  background-image: url("../photos/bg/taustateresa2.jpg");
}

/*Teresa*/
#persbackground2 {
  background-image: url("../photos/bg/taustakigeni.jpg");
}

/*Kigeni*/
#persbackground3 {
  background-image: url("../photos/bg/taustapapaa.jpg");
}

/*Papaa*/
#persbackground4 {
  background-image: url("../photos/bg/taustaeminem.jpg");
}

/*Eminem*/
#persbackground5 {
  background-image: url("../photos/bg/taustaazizi.jpg");
}

/*Azizi*/
#persbackground6 {
  background-image: url("../photos/bg/taustaabdullah.jpg");
}

/*Abdullah taxi*/
#persbackground7 {
  background-image: url("../photos/bg/taustamaryam.jpg");
}

/*Maryam*/
#persbackground8 {
  background-image: url("../photos/bg/taustazulubu.jpg");
}

/*Zulubu*/
#persbackground9 {
  background-image: url("../photos/bg/taustaabdullah2.jpg");
}

/*Abdullah*/
#persbackground10 {
  background-image: url("../photos/bg/taustaingemar3.jpg");
}

/*Ingemar*/
#persbackground11 {
  background-image: url("../photos/bg/taustamildred.jpg");
}

/*Mildred*/
#persbackground12 {
  background-image: url("../photos/bg/taustamartin.jpg");
}

/*Martin*/
#persbackground13 {
  background-image: url("../photos/bg/taustamaija.jpg");
}

/*Maija*/
#persbackground14 {
  background-image: url("../photos/bg/taustajenny.jpg");
}

/*Jenny*/
#persbackground15 {
  background-image: url("../photos/bg/taustaandre.jpg");
}

/*Andre*/
#persbackground16 {
  background-image: url("../photos/bg/taustaidris.jpg");
}

/*Idris*/
#persbackground17 {
  background-image: url("../photos/bg/taustagreta.jpg");
}

/*Greta*/
#persbackground18 {
  background-image: url("../photos/bg/tausta18.jpg");
}
